[Unit]
Description=WebX Router 
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
RemainAfterExit=yes
ExecStart=/usr/bin/webx-router

[Install]
WantedBy=multi-user.target